<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <div class="line hidden-xs"></div>
            <div class="col-3">
                Upload document
            </div>
            <div class="col-3">
                Data Gathering and Processing
            </div>
            <div class="col-3">
                Doing background check
            </div>
            <div class="col-3">
                result
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="card-body">
        <div class="card">
            
        </div>

        </div>
    </div>
</div>

