<div class="row" *ngFor="let customer of data">
    <div class="col-12">
        <div class="card card-body">
            <h4 class="d-inline">{{customer.name}}</h4>
            <!-- Row -->
            <div class="row">
                <!-- column -->
                <div class="col-lg-3 col-md-6" *ngFor="let news of customer['news']">
                    <!-- Card -->
                    <div class="card newsContainer">
                        <img class="card-img-top img-responsive" [src]="news.img_url" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{news.title}}</h4>
                            <p class="card-text">{{news.summary}}</p>
                            <a [href]="news.link" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
                <!-- column -->
            </div>
            <!-- Row -->
        </div>
    </div>
</div>
