<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <br />
                <div class="profile-pic__wrapper">
                    <div class="profile-pic">
                        <img src="assets/images/users/profile.png">
                    </div>
                </div>
                <br />
                <div class="profile-name-title text-center">
                    {{profileName}}
                </div>
                <div class="profile-status text-center">
                    {{profileDescrip}}
                </div>
                <br />
                <div class="profile-descrip text-center">
                    Email: {{email}}
                </div>
                <div class="profile-descrip text-center">
                    Position: {{jobs}}
                </div>
                <div class="profile-descrip text-center">
                    Joined {{join}}
                </div>

            </div>
        </div>
    </div>
</div>